cluster.name: b10b
{% set ehosts = '' %}
{% for host in groups['elastic'] %}
{% if loop.last %}
{% set ehosts = ehosts + hostvars[host].private_ip %}
discovery.zen.ping.unicast.hosts: [ {{ ehosts }} ]
{% else %}
{% set ehosts = ehosts + hostvars[host].private_ip + ',' %}
{% endif %}
{% endfor %}
path.data: /ssd/elasticsearch/data
path.logs: /ssd/elasticsearch/log

http.cors.enabled: true
network.host: {{ private_ip }}
thread_pool.bulk.queue_size: 500

monitor.jvm.gc.overhead.warn: 50

# slow logs
index.search.slowlog.threshold.query.warn: 20s
index.search.slowlog.threshold.query.info: 10s
index.search.slowlog.threshold.query.debug: 2s
index.search.slowlog.threshold.query.trace: 500ms
index.search.slowlog.threshold.fetch.warn: 5s
index.search.slowlog.threshold.fetch.info: 1s
index.search.slowlog.threshold.fetch.debug: 500ms
index.search.slowlog.threshold.fetch.trace: 200ms
index.search.slowlog.level: info

index.indexing.slowlog.threshold.index.warn: 10s
index.indexing.slowlog.threshold.index.info: 5s
index.indexing.slowlog.threshold.index.debug: 2s
index.indexing.slowlog.threshold.index.trace: 500ms
index.indexing.slowlog.level: warn
index.indexing.slowlog.source: 1000


# you know for perf
#index.translog.durability: async
#index.translog.sync_interval: 30s
#indices.store.throttle.type: none
#index.refresh_interval: 60s
#index.number_of_replicas: 0
#index.translog.flush_threshold_size: 1GB
