cluster.name: b10b
discovery.zen.ping.multicast.enabled: false
{% set ehosts = '' %}
{% for host in groups['elastic'] %}
{% if loop.last %}
{% set ehosts = ehosts + hostvars[host].private_ip %}
discovery.zen.ping.unicast.hosts: [ {{ ehosts }} ]
{% else %}
{% set ehosts = ehosts + hostvars[host].private_ip + ',' %}
{% endif %}
{% endfor %}
path.data: /ssd/elasticsearch/data
path.work: /ssd/elasticsearch/work
path.logs: /ssd/elasticsearch/log

http.cors.enabled: true
network.host: {{ private_ip }}
threadpool.bulk.queue_size: 500

#index.search.slowlog.threshold.fetch.warn: 1s
#index.indexing.slowlog.threshold.index.warn: 2s
monitor.jvm.gc.old.warn: 5s

# you know for perf
#index.translog.durability: async
#index.translog.sync_interval: 30s
#indices.store.throttle.type: none
#index.refresh_interval: 60s
#index.number_of_replicas: 0
#index.translog.flush_threshold_size: 1GB
