storage:
  dbPath: /ssd1/mongod-data
  journal:
    enabled: false
  engine: wiredTiger
  wiredTiger:
    engineConfig:
      directoryForIndexes: true
systemLog:
  destination: file
  logAppend: true
  path: /ssd2/mongod-log/mongod.log
net:
  port: 27017
  bindIp: {{private_ip}}
