storage:
  dbPath: /ebs/mongod-data
  journal:
    enabled: false
  engine: wiredTiger
  wiredTiger:
    engineConfig:
      directoryForIndexes: true
systemLog:
  destination: file
  logAppend: true
  path: /ebs/mongo-log/mongod.log
net:
  port: 27019
  bindIp: {{ private_ip }}
