{% for host in groups['mongodb'] %}
sh.addShard( "{{ hostvars[host].private_ip }}:27019" )
{% endfor %}

sh.enableSharding("bench")
// sh.shardCollection("bench.default", { "ecm:id": "hashed" } )
sh.shardCollection("bench.default", { "_id": "hashed" } )

// assume that hash on sequence is good enough to balance chunk
sh.stopBalancer()
