sharding:
  clusterRole: configsvr
replication:
  replSetName: configReplSet
storage:
  dbPath: /ssd1/mongocs
  journal:
    enabled: false
  engine: wiredTiger
net:
  port: 27018
  bindIp: {{ private_ip }}
systemLog:
  destination: file
  logAppend: true
  path: /ssd2/mongo-log/mongocs.log
